.RightTitle{
	font-size: 20pt;
}
.LeftTitle{
	font-size: 20pt;
}
#Global{
	font-size: 16pt;
}
#HelpBox{
	font-size: 14pt;
}
header{
	font-size: 25pt;
}
#FooterText{
	font-size:14pt;
}
#SmallBox1{
	width: 50%;
	}
