.RightTitle{
	font-size: 14pt;
}
.LeftTitle{
	font-size: 14pt;
}
#Global{
	font-size: 12pt;
}
#HelpBox{
	font-size: 10pt;
}
header{
	font-size: 20pt;
}
#FooterText{
	font-size:10pt;
}
#SmallBox1{
	width: 39%;
}
