@CHARSET "ISO-8859-1";
#Global{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 830px;
	background-color: #F5F5F0;
	position: relative;
	top: 60px;
	z-index: 3;
}
#HeaderContent{
	width: 1000px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #FFA6A6;
}
#StartButton{
	padding: 15px 30px 0px 30px;
	float: left;
	height: 45px;
	border-width: 0px 1px 0px 0px;
	border-style:solid;
	border-color:#FFA6A6;
}
#UpButtonContainer{
	float: right;
	width: 123px;
	height: 60px;
}
#Title{
	width:753px;
	float: left;
	height: 45px;
	padding-top: 15px;
}
header{
	background-color: #E5462D;
	width: 100%;
	height: 60px;
	color: white;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
	position: fixed;
	z-index: 4;
}
body{
	margin: 0px;
	width: 100%;
	font-family: arial;
}
.Picture{
	background-color: #3385FF;
	width: 100%;
	height: 180px;
	
}
.LeftTitle{
	float:left;
	padding: 15px 0px 0px 15px;
	font-weight: bold;
	font-size: 14pt;
}
.RightTitle{
	float:right;
	padding: 15px 15px 0px 0px;
	font-weight: bold;
	font-size: 14pt;
}
a{
	text-decoration: none;
	color:#595959;
}
.SmallBox1{
	float: left;
	width: 47%;
	height: 250px;
	margin:  20px 0px 0px 2%;
	background-color: #E6E6E6;
	}