@CHARSET "ISO-8859-1";

#Global{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 1200px;
	background-color: #F5F5F0;
	position: relative;
	top: 60px;
	z-index: 3;
}
.HeaderContent{
	width: 1000px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #FFA6A6;
	text-align: center;
	line-height:60px;
	vertical-align: middle;
}
#StartButton{
	width:130px;
	color:white;
	padding: 0px;
	float: left;
	height: 60px;
	border-width: 0px 1px 0px 0px;
	border-style:solid;
	border-color:#FFA6A6;
}
#StartButton:hover{
	cursor:pointer;
	text-decoration:underline;
}
#UpButtonContainer{
	float: right;
	width: 130px;
	height: 60px;
}
#Up{
	border-width: 0px 0px 0px 1px;
	border-style:solid;
	border-color:#FFA6A6;
	float: right;
	height: 60px;
	width: 60px;
}
#Up:hover{
	cursor:pointer;
}
#Title{
	width:738px;
	float: left;
	/*height: 45px;
	padding-top: 15px;*/
}
.BigBox1{
	float:left;
	width: 92%;
	height: 400px;
	background-color: #E6E6FA;
	margin: 2%;
	color: #3385FF;
	padding: 0% 2%
}
.BigBox2{
	float:right;
	width: 73%;
	height: 300px;
	background-color: #E6E6FA;
	margin: 20px;
	padding: 0px 20px;
	color: #3385FF;
}
.SmallBox1{
	float: left;
	width: 39%;
	height: 400px;
	margin-left: 2%;
	background-color: #3385FF;
	padding: 1% 4%;
	color:white;
	
}
.SmallBox2{
	float: left;
	width: 30%;
	height: 150px;
	margin-left: 2%;
	background-color: #3385FF;
	padding: 1% 4%;
	color:white;
}
.SmallBoxContainer{
	width: 98%;
	border: 2px dotted black;
	margin: 1%;
}
header{
	background-color: #E5462D /*#FF5229*/;
	width: 100%;
	height: 60px;
	color: white;
	font-weight: bold;
	font-size: 20pt;
	text-align: center;
	position: fixed;
	z-index: 4;
}
body{
	margin: 0px;
	width: 100%;
	font-family: arial;
}
a{
	text-decoration: none;
}
.List1{
	margin: 2%;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #E5462D;
	text-align: center;
	position:relative;
	top:60px;
}
#FooterText{
	font-size:10pt;
	vertical-align:middle;
	line-height: 60px;
}
